        *{     
            font-family: "Lato", sans-serif;
            font-weight: 900;
            font-style: italic;
            margin: 0;
            padding:0;
            box-sizing: border-box;
        }       
        
        #container-icon {
            position: absolute;
            top: 20px;
            right: 80px;
            cursor: pointer;
            justify-content: space-around;
        }

        #container-icon img {
            width: 30px;
            height: 30px;
            mix-blend-mode: multiply;
            border-radius: 20px;
            justify-content: space-around;
        }

        #pesquisa{
            position: absolute;
            top: 20px;
            right: 80px;
            cursor: pointer;
        }

        #pesquisa img{
            width: 30px;
            height: 30px;
            mix-blend-mode: multiply;
        }

        #user{
            position: absolute;
            top: 20px;
            right: 130px;
            cursor: pointer;
        }

        #user img{
            width: 30px;
            height: 30px;
            mix-blend-mode: multiply;
        }

        #carrinho-content {
            display: none;
            position: absolute;
            top: 50px;
            right: 10px;
            width: 300px;
            background: white;
            border: 1px solid #ccc;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 10px;
            color: black;
            z-index: 9999;
        }

        #produtos{
            max-width: 900px;
            margin: 0 auto;
            padding: 0 2%;
            display: flex;
            border-radius: 30px;
            border-color: black;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .produto-single{
            width: 32%;
            margin-right: 1px;
            border: 1px solid #ccc;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .produto-single img{
            max-width: 100%; 
        }

        .produto-single p{
            text-align: center;
            font-size: 10px;
            padding: 10px;
        }
        .produto-single a{
            text-decoration: none;
            color: white;
            background-color: #4ab0e9;
            text-align: center;
            display: block;
            padding: 10px 0;
            font-size: 14px;
            border-radius: 5px;
            margin: 10px 20px;
            transition: background-color 0.3s, transform 0.3s;
        }
        h2{
            background-color: #385898;
            padding: 10px 0;
            text-align: center;
            color: white;
        }

        .vitrine-container{
            position: relative;
            background-color: #385898;
            padding: 10px 0;
            text-align: center;
            color: white;
        }

        .info-single-checkout{
            width: 100%;
            border-bottom: 2px dotted;
            padding: 10px 0;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center; 
        }

        .categories-left,
        .categories-right {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
        }

        .categories-left a,
        .categories-right a {
            margin: 5px 0;
            text-decoration: none;
        }

        .vitrine-container {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .vitrine-title {
            margin: 0 20px;
        }

        .categories-left a {
            margin-right: 50px;
            background-color: transparent;
            color: currentColor;
            text-decoration: none;
            transition: color .3s ease;
            transition: transform 1s;
            transform: translateX(0) scale(0.5);
            font-family: "PT Serif", serif;
            font-weight: 400;
            font-style: normal;
        }
        .categories-right a {
            margin-left: 50px;
            background-color: transparent;
            color: currentColor;
            text-decoration: none;
            transition: transform 1s;
            transform: translateX(0) scale(0.5);
            font-family: "PT Serif", serif;
            font-weight: 400;
            font-style: normal;
            position: relative;
        }
        
        .categories-right a:hover,
        .categories-right a:focus {
            background: transparent;
            transform: translateX(10px) scale(1.2);
        }

        .categories-left a:hover,
        .categories-left a:focus {
            background: transparent;
            transform: translateX(10px) scale(1.2);
        }

        .produto-single a:hover,
        .produto-single a:focus {
            background-color: #385898;
            transform: scale(1.05);
        }

        #carouselProduto1 .carousel-control-prev,
        #carouselProduto1 .carousel-control-next,
        #carouselProduto2 .carousel-control-prev,
        #carouselProduto2 .carousel-control-next,
        #carouselProduto3 .carousel-control-prev,
        #carouselProduto3 .carousel-control-next {
        background-color: transparent;
        border-color: transparent;
        }

        .container-icon{
            border: 2px solid black;
        }

        @media screen and (max-width:768px){
            .produto-single{
                width: 100%;
                margin-right: 0;
            }
        }